
/*body css*/
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.background{
 background-image:linear-gradient(to right, rgb(255, 255, 240),rgb(253, 246, 239),rgb(250, 232, 230));
}

/*custom highlighting color*/
.highlight-color{
  color:rosybrown;
}

.fa-star{
  color:gold;
}

.fa-user{
  color: dimgrey;
}

input:focus {
  outline: none !important;
}

input:hover{
  padding: 3px;
  box-shadow: 3px 6px 8px rosybrown;
}

button:focus {
  outline: none !important;
}

button:hover{
  padding: 8px;
  box-shadow: 3px 6px 8px rosybrown;
}

.image-size{
  height: 150px;
  width: 150px;
}

/*single product card hover css*/
.single-product:hover {
  padding: 20px;
  transition: 0.8s;
  box-shadow: 8px 8px 20px rosybrown;
  border-radius: 25px;
}

/*cart css*/
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px rosybrown;
  border-radius: 15px;
  margin-right: 30px;
  position: fixed;
  background-color:white;
}

.cart-main {
  padding-right: 30px;
}